
*{
    box-sizing: border-box;
  }


header{
  text-align: center;
  padding: 32px;
  background-color: black;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin:0;
}


p{
  text-align: center;
  margin-top: 50px;
}

.row{
    display:flex;
    padding: 0 4px;
    flex-wrap:wrap;  
}
  
.column{
    flex:25%;
    max-width: 33%;
    padding: 0 5px;
    
}
  
.column img{
    margin-top: 20px;
    width: 100%;
    vertical-align: middle;
  
}

#turtle{
  
  padding: 0 4px;
}

.text{
  text-align: center;
}

iframe{
  margin-top: 10px;
}

 @media screen and (max-width:800px){
    .column{
      flex: 50%;
      max-width: 50%;
    }
 }
  
@media screen and (max-width:600px){
    .column{
      flex:100%;
      max-width:100%;
    }
}
  
